@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Roboto:wght@700&display=swap");

body {
  margin: 0;
  position: absolute;
  font-family: "DM Sans", sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1349px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
[class^="col"] {
  padding: 0 0.5rem;
}
.col {
  flex: 1 1 0;
}
.col-1 {
  flex: 0 0 8.333333%;
}
.col-2 {
  flex: 0 0 16.666666%;
}
.col-3 {
  flex: 0 0 25%;
}
.col-4 {
  flex: 0 0 33.333333%;
}
.col-5 {
  flex: 0 0 41.666666%;
}
.col-6 {
  flex: 0 0 50%;
}
.col-7 {
  flex: 0 0 58.333333%;
}
.col-8 {
  flex: 0 0 66.666667%;
}
.col-9 {
  flex: 0 0 75%;
}
.col-10 {
  flex: 0 0 83.333333%;
}
.col-11 {
  flex: 0 0 91.666667%;
}
.col-12 {
  flex: 0 0 100%;
}
nav {
  background-color: white;
  display: flex;
  margin: 1rem;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
}
.navbar ul li {
  font-size: 17px;
  line-height: 30.1px;
  display: inline-block;
}
.navbar ul li a {
  text-decoration: none;
  color: #090909;
  padding: 1rem;
  font-weight: 400;
} 
.navbar ul img {
  padding-right: 1rem;
}
.end {
  margin: 0 35rem; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.end button{
  border: none;
  background-color:#FF9C08;
  margin-left: 1rem;
  padding: 12px;
  width: 130px;
  border-radius: 10px;
}
.end button a{
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 700;
}
.first-side{
  margin-top: 207px;
  margin-left: 4rem;
  flex: 0 0 44%;
}
 
.first-side h1{
  font-size: 60px;
  line-height: 79px;
}
.first-side p{
  color: #6E6E6E;
  font-size: 22px;
}
.btn-1{
  border: none;
  background-color:#FF9C08;
  padding: 18px;
  border-radius: 10px;
  font-weight: 700;
  border-color: transparent;
}
.btn-1:hover{
  border: 1px solid lightgray;
  background-color: white;
  transition: 1s;  
  cursor: pointer;
}
.btn-2{
  font-weight: 700;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 18px;
  margin: 0 1rem;
  background-color: white;  
  
}
.btn-2:hover{
  background-color: #FF9C08;
  border-color: transparent;
  cursor: pointer;
  transition: 1s;
}
section{
  border-top: 1px solid lightgray;
}
header{
  background-color: #FEF9F2;
  margin-top: 120px;
}
.header { 
  margin: 62px; 
  margin-top: 120px;
  text-align: center;
}
.header h1 { 
  font-weight: 700;
  font-size: 60px;
}
.header h1 b{
  color: #FF9C08;
}
.header p{
  color: #6e6e6e;
  margin-bottom: 70px;
  font-size: 17px;
}
.main-left{
  text-align: start;
  margin-top: 198px;

}
.main-left  h3{
  color: #FF9C08;
  text-transform: uppercase;
}
.main-left h1{
  font-size: 42px;
  line-height: 58px;
}
.main-right{
  margin-top: 340px;
  text-align: end; 
}
.main-right button{
  margin: 2rem .4rem;
}
.main-right-p{
  text-align: start; 
}